@import 'node_modules/bootstrap/scss/bootstrap';

h1 {
    color: coral;
    text-align: center;
    padding: 20px;
}

.activenav {
    background-color: red;
    color: yellow;
}

.flexevl {
    display: flex;
    justify-content: space-evenly;
}
